{% extends "layout.html.twig" %}

{% block content %}

    <div class="projects" style="text-align: center;"> &nbsp; | &nbsp;
        {% for project in projects %}
            <a href="/{{ project.project }}">{{ project.project }}</a> &nbsp; | &nbsp;
        {% endfor %}
    </div>

    <hr>

    <div class="tasks">
        {% for project in projects %}
            {% for task in project.tasks %}
                <div class="task" data-taskid="{{ task.id }}">
                    <label class="checkbox">
                        <input class="statusBox" type="checkbox" {% if task.status == 'ready' %} checked="checked" {% endif %} >
                        <span class="text">{{ task.text }}</span>
                    </label>
                    <br />
                    <i>Добавил <span class="author">{{ task.author }}</span> -
                        <span class="datetime">{{ task.datetime }}</span>
                        <small>(<span class="project">{{ task.project }}</span>)</small></i>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <script type="text/template" id="template-task">
        <div class="task" data-taskid="<%- id %>">
            <label class="checkbox">
                <input class="statusBox" type="checkbox" <%= status=='ready' ? 'checked="checked"' : '' %> >
                <span class="text"><%- text %></span>
            </label>
            <br />
            <i>Добавил <span class="author"><%- author %></span> -
                <span class="datetime"><%- datetime %></span>
                <small>(<span class="project"><%- project %></span>)</small></i>
        </div>
    </script>

{% endblock %}