{% extends "layout.html.twig" %}

{% block content %}

    <div class="projects">
        <ul>
            <li><a class="showAllTasks" href="/"><span>Все:</span></a></li>
        </ul>
    </div>

    <hr>

    <div class="tasks">
        {#{% for project in projects %}
            {% for task in project.tasks %}
                <div class="task" data-taskid="{{ task.id }}">
                    <label class="checkbox">
                        <input class="statusBox" type="checkbox" {% if task.status == 'ready' %} checked="checked" {% endif %} >
                        <span class="text">{{ task.text }}</span>
                    </label>
                    <br />
                    <i>Добавил <span class="author">{{ task.author }}</span> -
                        <span class="datetime">{{ task.datetime }}</span>
                        <small>(<span class="project">{{ task.project }}</span>)</small></i>
                </div>
            {% endfor %}
        {% endfor %}#}
    </div>

    <script type="text/template" id="template-task">
        <div class="task <%= status=='ready' ? 'allReady' : '' %>" data-taskid="<%- id %>">
            <label class="checkbox">
                <input class="statusBox" type="checkbox" <%= status=='ready' ? 'checked="checked"' : '' %> >
                <span class="text"><%- text %></span>
            </label>
            <br />
            <i>Добавил <span class="author"><%- author %></span> -
                <span class="datetime"><%- datetime %></span>
                <small>(<span class="project"><%- project %></span>)</small></i>
        </div>
    </script>
    <script type="text/template" id="template-project">
        <li><a href="/<%- project %>"><span><%- project %></span> <small>(<i class="projects-count-todo"><%- todo %></i>/<i class="projects-count-all"><%- all %></i>)</small></a></li>
    </script>

{% endblock %}